html, body {
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.795);
}

.diff-btn {
  margin: 5px auto -5px auto;
  width: 100%;
}

.test {
  background-color: darkblue;
}

.row {
  text-align: center;
}

#tile {
  font-size: 3rem;
}